.hbm-admin .cf-container__tabs-item {
    background-color: #dda14a !important;
    border: 1px solid #49c0de !important;
}

.hbm-admin .cf-container__tabs-item button {
    color: #ffffff !important;
}

.hbm-admin .cf-container__tabs-item--current {
    background-color: #49c0de !important;
    border: 1px solid #dda14a !important;
}

.hbm-validMessage {
    background-color: #a6ce38;
    padding: 0 0 0 12px !important;
    font-weight: bold;
    color: #49c0de;
}

.hbm-spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #49c0de 95%, #0000) 50% 1px/3px 3px no-repeat,
        radial-gradient(farthest-side, #0000 calc(100% - 5px), #dda14a 0);
    animation: spin 2s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

.hbm-spinner-wrapper {
    display: none;
}

.hbm-auth-horizontal-radio ul {
    display: flex;
    flex-direction: row;
}

.hbm-auth-horizontal-radio li {
    flex: none !important;
    margin-right: 10px !important;
}

.hbm-input-readonly input {
    border: none !important;
}

[data-slug="hbm-auth-server"] .plugin-title,
[data-slug="pods"] .plugin-title {
    color: red !important;
    border: 1px solid #49c0de !important;
}

[data-slug="pods"].active .deactivate,
[data-slug="pods"].active input[type="checkbox"] {
    display: none !important;
}

[data-slug="pods"].active .plugin-title {
    max-width: 20vw !important;
    text-wrap: pretty;
}

[data-slug="pods"].active .plugin-title::after {
    content: "Pods is required for HBM Auth Server. To deactivate or delete, deactivate HBM Auth Server first.";
    color: red !important;
    font-weight: bold;
    padding: 3px 0px;
    display: block;
    margin-top: 5px;
    border-radius: 3px;
}

[data-slug="pods"].inactive .plugin-description::after {
    content: "Pods is required for HBM Auth Server to work properly.";
    color: red !important;
    font-weight: bold;
    padding: 3px;
    display: block;
    margin-top: 5px;
    border-radius: 3px;
}

[data-slug="hbm-auth-server"] .plugin-description {
    background-color: #dda14a !important;
    padding: 3px;
}

[data-slug="hbm-auth-server"] .plugin-description p {
    color: #ffffff !important;
}